.modal-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  background: rgba(11, 11, 11, 0.55);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 100vw;
  z-index: 100;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}
.side-panel {
  position: absolute;
  width: 400px;
  height: 100%;
  right: -400px;
  background-color: white;
  border-top-left-radius: 30px;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 0.2s;
  animation: slide 0.5s forwards;
  animation-delay: 0.2s;
  padding: 50px 0px;
}

@-webkit-keyframes slide {
  100% {
    right: 0;
  }
}

@keyframes slide {
  100% {
    right: 0;
  }
}
.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.sidebar-header-text {
  color: grey;
  font-size: 25px;
}
.sidebar-image {
  display: grid;
  padding: 20px 20px;
  grid-template-columns: 30% 70%;
  align-items: center;
}
.sidebar-img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.sidebar-name {
  font-size: 20px;
  color: black;
  font-weight: 400;
}
.sidebar-userID {
  color: grey;
  font-size: 16px;
}
.divider-class {
  height: 1px;
  background-color: #d3d3d3;
}
.basic-accountDetails-div {
  padding: 20px;
}
.position-div {
  display: flex;
  align-items: center;
  gap: 30px;
}
.CgProfile-icon {
  background-color: #d3d3d3;
  border-radius: 50%;
  padding: 5px;
}
.position-align-div {
  padding-top: 30px;
}
.text-icon {
  font-size: 16px;
  color: black;
  font-weight: 600;
}
.text-icon2 {
  margin-top: 5px;
  color: grey;
}
.active-button {
  display: flex;
  border-radius: 10px;
  padding: 3px 8px;
  color: #fff;
  font-weight: 600;
  background-color: #4bb543;
}
